{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for row in rows %}
        <tr>
            <td>{{ row.symbol }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.shares }}</td>
            <td>${{ row.price }}</td>
            <td>${{ row.total }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>${{ cash }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <th>${{ total }}</th>
        </tr>
    </table>
{% endblock %}
